
.wrapper {
    width: 970px;
    margin: 0 auto;
}

.main-header,
.nav {
    display: flex;
    flex-direction: column;
}

.main-header {
    height: 51px;
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 1em;
}

.nav {
    list-style-type: none;
}

.nav li {
    
}

.site-title {
    align-self: center;
}

